:root {
  --c-bg: rgb(255, 255, 255);
  --c-text: rgba(55, 65, 81);
}

html.dark {
  --c-bg: rgb(5, 5, 5);
  --c-text: rgba(229, 231, 235);
}

body {
  @apply font-sans bg-$c-bg c-$c-text transition-colors duration-500;
}

.content {
  @apply max-w-65ch ma;
}
